{% extends 'base.html' %} 

{% block content %}

  <!--photo centrale-->

  
  <div class="hero">
    <div class="layer2">
      <h1> Studio de danse </h1>
      <h2> Viens danser avec nous! </h2>
    </div>
  </div>

  <!--image et texte-->

  <div class="container">
    <div class="row">
    <div class="col-12 col-md-6">
      <h2>Présentation</h2>
      <p class="image">
        <img src="/static/photos/jusdevoyage-1aP-uW0HqWg-unsplash.jpg" class="img-fluid" width="100%">
    </div>


      <div class="col-12 col-md-6">
        <div class="container d-flex h-100">
          <div class="row align-self-center">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum cum corrupti recusandae soluta
              neque dolorum dolorem dolor natus voluptates velit, nihil maiores laboriosam sunt at? Quod exercitationem
              animi assumenda praesentium.
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non facere inventore deleniti iure
              delectus. Corporis ea provident, voluptate omnis ipsam perspiciatis unde a, labore autem eligendi nesciunt
              aliquid facilis.
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non facere inventore deleniti iure
              delectus. Corporis ea provident, voluptate omnis ipsam perspiciatis unde a, labore autem eligendi nesciunt
              aliquid facilis.
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non facere inventore deleniti iure
              delectus. Corporis ea provident, voluptate omnis ipsam perspiciatis unde a, labore autem eligendi nesciunt
              aliquid facilis.
            </p>

          </div>
        </div>
      </div>
    </div>
      


  <!--card-->

  
 <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
       
        <img
          src="/static/photos/ardian-lumi-6Woj_wozqmA-unsplash.jpg"
          alt="Salsa" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Salsa</h5><br>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam atque ea officia non
            accusamus itaque nam eum at voluptatibus, quibusdam est dolorum laudantium nihil. Porro voluptatibus illum
            ipsa voluptatem vel?</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <img src="/static/photos/fabian-schneider-1qGnaSjXiWo-unsplash.jpg" alt="Claquette" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Claquettes</h5><br>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam atque ea officia non
            accusamus itaque nam eum at voluptatibus, quibusdam est dolorum laudantium nihil. Porro voluptatibus illum
            ipsa voluptatem vel?</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <img src="/static/photos/alain-bonnardeaux-M1pEv-T12D8-unsplash (1).jpg" alt="Tango" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tango</h5><br>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam atque ea officia non
            accusamus itaque nam eum at voluptatibus, quibusdam est dolorum laudantium nihil. Porro voluptatibus illum
            ipsa voluptatem vel?</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>



 
{% endblock %}