{% extends "base.html" %}

{% block content %}
<style>
  h2 {
    text-align: center;
    
  }
  body{
    background-color: #F7E8F3;
  }
  nav {
    position: static;
   
  }
  .navbar{
    background-color: pink;
    
  }
  .nav-link{
  color: black;
  font-weight: bold
}
   
</style>

<div class="equipe" >
  <div class="container">
    <h2>Notre équipe</h2>

    <div class="rowtop">
    <div class="row">

   
      <div class="col-12 col-md-6">
        <div class="carte">          
        <img src="/static/photos/equipe1.jpg" class="img-responsive" width="100%">
      <div class="carte-texte">
        <h4>Vincent</h4>  
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente culpa ipsum optio molestiae natus deleniti eaque ipsam consequatur nesciunt id quidem, ullam cupiditate tenetur, excepturi ex suscipit quae laborum debitis?</p>
  <div class="logo">
       <a href="http:www.facebook.com"><i class="fa-brands fa-facebook fa-xl"></i></a>
    <a href="http:www.instagram.com"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="http:www.linkedin.com"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="http:www.youtube.com"><i class="fa-brands fa-youtube fa-xl"></i></a>
            </div>
        </div>
      </div>
    </div>  

      <div class="col-12 col-md-6">
        <div class="carte">
        <img src="static/photos/equipe2.jpg" class="img-responsive" width="100%">
      <div class="carte-texte">
        <h4>Victoire</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente culpa ipsum optio molestiae natus deleniti eaque ipsam consequatur nesciunt id quidem, ullam cupiditate tenetur, excepturi ex suscipit quae laborum debitis?</p>
  <div class="logo">
       <a href="http:www.facebook.com"><i class="fa-brands fa-facebook fa-xl"></i></a>
    <a href="http:www.instagram.com"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="http:www.linkedin.com"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="http:www.youtube.com"><i class="fa-brands fa-youtube fa-xl"></i></a>
    </div>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rowbottom">    
    <div class="row">
     
      <div class="col-12 col-md-6">
        <div class="carte">
        <img src="static/photos/equipe3.jpg" class="img-responsive" width="100%">
     
<div class="carte-texte">
  <h4>Paul</h4>
     
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente culpa ipsum optio molestiae natus deleniti eaque ipsam consequatur nesciunt id quidem, ullam cupiditate tenetur, excepturi ex suscipit quae laborum debitis?</p>
  <div class="logo">
       <a href="http:www.facebook.com"><i class="fa-brands fa-facebook fa-xl"></i></a>
    <a href="http:www.instagram.com"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="http:www.linkedin.com"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="http:www.youtube.com"><i class="fa-brands fa-youtube fa-xl"></i></a>
    </div>
</div>
      </div>
        </div>
     

      <div class="col-12 col-md-6">
        <div class="carte">
        <img src="static/photos/equipe4.jpg" class="img-responsive" width="100%">
          <div class="carte-texte">
   <h4>Vincent</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente culpa ipsum optio molestiae natus deleniti eaque ipsam consequatur nesciunt id quidem, ullam cupiditate tenetur, excepturi ex suscipit quae laborum debitis?</p>
            <div class="logo">
                 <a href="http:www.facebook.com"><i class="fa-brands fa-facebook fa-xl"></i></a>
    <a href="http:www.instagram.com"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="http:www.linkedin.com"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="http:www.youtube.com"><i class="fa-brands fa-youtube fa-xl"></i></a>
              </div>
            </div>
      </div>
        </div>
      </div>
      </div>
    </div>
  </div>


{% endblock %}




